<div class="tw-fixed tw-pin-t">
  {{#each flashMessages.queue as |flash|}}
    <FlashMessage @flash={{flash}} as |component flash|>
      <Ui::Alert @kind={{flash.type}} @text={{flash.message}} />
    </FlashMessage>
  {{/each}}
</div>

{{#unless isPathRoute}}
  <Navbar />
{{/unless}}

{{outlet}}

<UiIconSprite />