<div class="tw-container tw-mx-auto tw-p-4">
  <form {{action 'authenticate' on='submit'}}>
    <div class="tw-my-2">
      <Ui::Heading @level={{4}} @text="Email" />
      <Ui::TextInput
        @id="email"
        @name="email"
        @placeholder="Email"
        @value={{email}}
      />
    </div>

    <div class="tw-my-2">
      <Ui::Heading @level={{4}} @text="Password" />
      <Ui::TextInput
        @id="password"
        @name="password"
        @placeholder="Password"
        @value={{password}}
        @inputType="password"
      />
    </div>

    <div class="tw-flex tw-justify-end tw-items-center tw-mt-6">
      <Ui::Button type="submit">Login</Ui::Button>
    </div>
  </form>
</div>
