<div class="tw-container tw-mx-auto tw-px-4">
  <form {{action 'authenticate' on='submit'}}>
    {{#ui/form-group
      for="email"
      label="Login"
    }}
      {{ui/text-input
        id="email"
        name="email"
        placeholder="Email"
        label="Email"
        value=email
      }}
    {{/ui/form-group}}

    {{#ui/form-group
      for="password"
      label="Password"
    }}
      {{ui/text-input
        id="password"
        inputType="password"
        placeholder="Password"
        value=password
      }}
    {{/ui/form-group}}

    <button type="submit">Login</button>
    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>