<span class="tw-flex tw-items-center">
  <span class="tw-text-gray-500 tw-mx-2">
    /
  </span>
  {{#each breadcrumbs as |breadcrumb index|}}
    {{#if index}}
      <span class="tw-text-gray-500 tw-mx-2">
        /
      </span>
    {{/if}}
    {{#link-to 'authenticated.path.wildcard' breadcrumb.url class="tw-text-gray-500"}}
      {{breadcrumb.name}}
    {{/link-to}}
  {{/each}}
</span>
