{{#upload-dropzone uploadImage=(action "uploadImage")}}
  <div class="tw-flex tw-flex-wrap">
    {{#each model.images as |image|}}
      {{thumbnail image=image}}
    {{/each}}
  </div>
{{/upload-dropzone}}
