{{#upload-dropzone uploadImage=(action "uploadImage")}}
  <div class="tw-flex tw-flex-wrap">
    {{#each model.images as |image|}}
      {{thumbnail/image image=image}}
    {{/each}}
    {{#each model.children as |folder|}}
      {{thumbnail/folder folder=folder}}
    {{/each}}
  </div>
{{/upload-dropzone}}
