<UploadDropzone @uploadImage={{action "uploadImage"}}>
  <div class="tw-flex tw-flex-wrap">
    {{#each model.images as |image|}}
      <Thumbnail::Image @image={{image}} />
    {{/each}}
    {{#each model.children as |folder|}}
      <Thumbnail::Folder @folder={{folder}} />
    {{/each}}
  </div>
</UploadDropzone>
