{{yield}}

<img src={{model.filePath}} />

{{#file-upload name="photos"
                for="upload-photo"
                accept="image/*"
                multiple=true
                onfileadd=(action "uploadImage")}}
  <a tabindex=0>Change the image</a>
{{/file-upload}}