{{yield}}

<img src={{model.filePath}} />

<FileUpload @name="photos" @for="upload-photo" @accept="image/*" @multiple={{true}} @onfileadd={{action "uploadImage"}}>
  <a tabindex=0>Change the image</a>
</FileUpload>