<div class="tw-bg-gray-900 tw-flex tw-items-center tw-justify-between">
  <div class="tw-flex">
    <LinkTo @route="authenticated.path" class="tw-text-white">
      <h1 class="tw-text-xl tw-text-white tw-ml-3 tw-my-1">Photr</h1>
    </LinkTo>
    {{#if breadcrumbs}}
      <BreadcrumbPath @breadcrumbs={{breadcrumbs}} />
    {{/if}}
  </div>

  <span class="tw-mx-3 tw-my-1">
    {{#if session.isAuthenticated}}
      <div class="tw-flex tw-items-center tw-justify-between">
        {{#if addFolder}}
          <Ui::Button onclick={{action addFolder}} class="tw-px-2">
            <UiIcon @name="folder-outline-add" @iconColor="white" @iconSize="5" />
          </Ui::Button>
        {{/if}}
        <Ui::Button onclick={{action "invalidateSession"}} class="tw-text-white tw-cursor-pointer">Logout</Ui::Button>
      </div>
    {{/if}}
  </span>
</div>
