<div class="tw-bg-white tw-opacity-{{opacity}} tw-z-20 tw-absolute tw-w-full tw-h-full tw-transition-opacity tw-transition-200 tw-transition-linear tw-flex tw-justify-center">
  <span class="tw-self-center tw-flex">
    {{yield}}
  </span>
</div>