<div class="tw-w-1/6 tw-bg-gray-200 tw-p-4">
  <LinkTo @route="authenticated.path.wildcard" @model={{folder.url}}>
    <img class="tw-w-full" alt="thumbnail" src="/assets/images/folder.png">
    <p>{{folder.name}}</p>
  </LinkTo>
</div>
