<h1>Showing a image</h1>

<p>
  name: <%= @image.name %>
</p>

<p>
  folder name: <%= @image.folder.name %>
</p>

<%= link_to "Edit this image", edit_image_path(@image) %>
<%= link_to "Back to images listings", images_path %>